%html
  %head
    %title eagle: a bird looking glass
    %script{:src => 'http://be.gs/jqgcdn', :type => 'text/javascript'}
    %script{:src => 'eagle.js', :type => 'text/javascript'}
    %link{:rel => 'stylesheet', :href => 'eagle.css'}
  %body
    %h1 eagle
    #lookup
      %form{:action => 'lookup', :method => 'post'}
        %select#instance{:name => 'instance'}
          %option{:value => ''} --
          %option{:value => 'local'} local instance
        %input#prefix{:name => 'prefix', :placeholder => '...', :size => '50', :type => 'text'}/
        %input#btngo{:type => 'submit', :value => 'go!'}/
    #results
      =yield
    %br
    %hr{:noshade => '#000000' }
    <!-- hi dave! -->
